<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/assets/app.css" rel="stylesheet">


    <title>{{index . "Title"}}</title>
</head>

<body class="d-flex flex-column h-100">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="/assets/suspiciousbyts-blue-text.svg" height="32">
                <span class="fs-4">
                    <!-- some title? -->
                </span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/login/" class="nav-link">Login</a></li>
            </ul>
        </header>
    </div>
    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1>{{index . "Title"}}</h1>

            <p>{{ .Paragraph }}</p>

            {{if .Lines}}
            <div class="list-group">
                {{ range .Lines }}
                <a href="/internal/{{ . }}" class="list-group-item list-group-item-action">{{ . }}</a>
                {{ end }}
            </div>
            {{end}}

        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">We still need to place a footer <a href="/internal/">here</a>.</span>
        </div>
    </footer>

    <script src="/assets/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>